:root {
    --main_bg: #36454F;
    --text_color: white;
    --unchecked_color: rgb(18, 104, 225);
    --checked_color: rgb(106, 0, 255);
}
body {
    background-color: var(--main_bg);
    color: var(--text_color);
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: Arial, Helvetica, sans-serif;
}
.MazeItem {
    width: 50px;
    aspect-ratio: 1;
    background-color: var(--unchecked_color);
    margin: 15px;
}
.MazeItem[type="start"] {
    background-color: green;
}
.MazeItem[type="goal"] {
    background-color: orange;
}
.MazeItem[checked="true"] {
    background-color: var(--checked_color);
}

.Row {
    display: flex;
    flex-direction: row;
}